<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
        <link href="/static/css/hangman.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/raphael-min.js"></script>
        <script type="text/javascript" src="/static/js/juggernaut.js"></script>
        <script type="text/javascript" src="/static/js/hangman.js"></script>
        <script type="text/javascript" src="/static/js/gameevents.js"></script>
        {% block head %} {% endblock %}
        <title>{% block title %} hangman.se {% endblock %}</title>
    </head>

    <body>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-21702980-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <div class="container clearfix">
            <div id="column-left">
                {% block left %} {% endblock %}
                <div id="hangman-canvas"></div>
            </div>
            <div id="column-right">
                {% block right %} {% endblock %}
            </div>
        </div>
        <div class="container" id="bottom">
            {% block bottom %} {% endblock %}
        </div>
    </body>
</html>

