<html>
    <head>
        {% block head %}
        <link href="/static/css/hangman.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/static/js/jquery-1.5.min.js"></script>
        <script type="text/javascript" src="/static/js/raphael-min.js"></script>
        <script type="text/javascript" src="/static/js/subscribe.js"></script>
        <script type="text/javascript" src="/static/js/hangman.js"></script>
        {% endblock %}
        <title>{% block title %} hangman.se {% endblock %}</title>
    </head>

    <body>
        <div id="container">
            <div id="status" class="status-container">
            </div>
            <div id="word-state" class="status-container">
            </div>
            <div id="holder">
            </div>
        {% block content %} {% endblock %}
        </div>
    <body>
</html>

