<html>
    <head>
        <style type="text/css">
            #my-canvas {
                border: 1px solid black;
                /*height: 400px;
                width: 400px;*/
            }
        </style>
    </head>

    <body>
        </div>
            <canvas id="my-canvas" width="150" height="150">
                <p>no canvas available</p>
            </canvas>
        </div>
    <body>
    
    <script type="text/javascript">
        window.onload = function() {
            canvas = document.getElementById("my-canvas");
            if(canvas.getContext) {
                ctx = canvas.getContext('2d');
                // Step 1
                ctx.beginPath();
                ctx.arc(75, 150, 30, 0, Math.PI, true);
                ctx.stroke();
                // Step 2
                ctx.beginPath();
                ctx.moveTo(75, 120);
                ctx.lineTo(75, 50);
                ctx.stroke();
            }
        };
    </script>
</html>

