{% extends "base.html" %}
{% block head %}
<script type="text/javascript" src="/static/js/host.js"></script>
{% endblock %}

{% block left %}
<div id="info-box">
    <h3>Välkommen till hangman.se</h3>
    <p>Här kan du spela hänga gubbe online mot en kompis. Skriv in det ord
    som din kompis ska gissa på i rutan och klicka på knappen!</p>
</div>
{% endblock %}

{% block right %}
<form id="create">
    <div id="validation-container">
        <span id="validation-message"></span>
    </div>
    <p>
        <input type="text" id="create-textbox" placeholder="Skriv ditt ord">
    </p>
    <p>
        <input type="submit" id="create-button" value="Börja spela!">
    </p>
</form>
{% endblock %}

{% block bottom %}
<div id="letters">
{% for letter in letters %}
    <span class="letter">{{letter}}</span>
{% endfor %}
</div>
{% endblock %}
