{% extends "base.html" %}
{% block content %}
<a href="#" id="start-game">Click to start a new game!</a>
<form id="create">
    <label for="create-textbox">Word:<label>
    <input type="textbox" id="create-textbox"></input>
    <input type="button" id="create-button" value="Create game"></input>
</form>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#create-button").click(function(ev) {
                ev.preventDefault();
                var word = $("#create-textbox").val();
                if(word != "" && word.match(/^[A-Za-z]+$/)) {
                    $.getJSON('/api/game/create/' + word, function(data) {
                        $("#create").remove();
                        $('#status').html('<p>Send this link to your opponent:</p><span>http://' + window.location.hostname + data.opponent_url+'</span>');
                        var hMan = new Hangman(document.getElementById("holder"));
                        var handler = new EventHandler(hMan, $('div#status'), $('div#word-state'),  function(data) {

                        });
                        var sub = new Subscription(handler.handlers);
                        sub.subscribe(data.subscription_url);
                    });
                } else {
                    alert("Enter a word with characters between a-z");
                }
            });
            $("#start-game").click(function(ev) {
                $("#create").show();
                $(this).remove();
            });
        });
    </script>
{% endblock %}
