{% extends "base.html" %}

{% block head %}
    <script type="text/javascript" src="/static/js/guest.js"></script>
{% endblock %}

{% block left %}
<div id="info-box">
    <img src='/static/img/red.png' id='status-indicator'></img>
    <p>Väntar på att motspelare ska ansluta</p>
</div>
{% endblock %}

{% block center %}
<div id="letters">
{% for letter in letters %}
    <span><a href="" class="letter">{{letter}}</a></span>
{% endfor %}
</div>
{% endblock %}

{% block right %}
<p>test right</p>
{% endblock %}
