{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
    $(document).ready(function() {
        var hMan = new Hangman(document.getElementById("holder"));
        var handler = new EventHandler(hMan, $('div#status'), $('div#word-state'), function(data) {
            switch(data.status) {
                case "failed":
                case "correct":
                    
                    break;
            }
        });
        setTimeout(function(){
            var sub = new Subscription(handler.handlers);
            sub.subscribe('/subscribe?id={{channel_id}}');
            $.getJSON('/api/game/join/{{channel_id}}', function(data) {
                $('[class^="letter"]').click(function(ev) {
                    ev.preventDefault();
                    $.getJSON('/api/game/guess/{{channel_id}}/' + $(this).html(), function(data){
                        $(this).remove();
                    });
                });
            });
        }, 500);
    });
</script>
<div>
{% for letter in letters %}
    <span><a href="" id="letter-{{letter}}" class="letter">{{letter}}</a></span>
{% endfor %}
</div>
{% endblock %}
